/***********************************************************************************************************
* Password Strength Checker using Jquery
* Written by Vasplus Programming Blog
* Website: www.vasplus.info
* Email: info@vasplus.info or vasplusblog@gmail.com

**********************************Copyright Information*****************************************************
* This script has been released with the aim that it will be useful.
* Please, do not remove this copyright information from the top of this page 
* If you want the copyright info to be removed from the script then you have to buy this script.
* This script must not be sold.
* All Copy Rights Reserved by Vasplus Programming Blog
*************************************************************************************************************/

#vpb_form_wrapper 
{
	max-width: 450px;
	margin: 0 auto;
	background-color:#F1F1F1;
	padding: 15px;
	border: 1px solid #E9E9E9;
	border-radius: 4px;
	text-align:left;
}
#vpb_form_wrapper h1
{
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	border-bottom:5px solid #E5E5E5;
	font-size:18px;
	padding:0px;
	padding-bottom:8px;
	margin:0px;
	margin-bottom:18px;
}
#vpb_form_wrapper span
{
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	font-size:12px;
	display:inline-block;
	text-align:left;
	float:left;
	clear:  left;
	padding-right:8px;
	padding-top:2px;
}
#vpb_form_wrapper input[type="checkbox"]
{
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	font-size:12px;
	display:inline-block;
	text-align:left;
	float:left;
	clear:right;
}
#vpb_form_wrapper input[type="password"]
{
	width: 95%;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 8px;
	border: solid 1px #CD9BFF;
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	font-size:13px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;/*0.1 actually means 10 %*/
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	outline:none;
	resize:none;
}
#vpb_form_wrapper input[type="text"]
{
	width: 95%;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 8px;
	border: solid 1px #CD9BFF;
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	font-size:13px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;/*0.1 actually means 10 %*/
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	outline:none;
	resize:none;
}
#pass-status
{
	width: 95%;
	min-height: 10px;
	padding: 8px;
	margin-top:8px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	color: #829CBD;
	text-align: left;
	font-family: helvetica, arial, 'lucida grande', sans-serif;
	font-size:12px;
}
#pass-status.weak_password
{
	border: 1px solid #FF9191;
	background: #FFC7C7;
	color: #94546E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-status.password_is_weak 
{
	border: 1px solid #FBB;
	background: #FDD;
	color: #945870;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-status.considrate_pass 
{
	border: 1px solid #C4EEC8;
	background: #E4FFE4;
	color: #51926E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-status.just_strong_password 
{
	border: 1px solid #6ED66E;
	background: #79F079;
	color: #348F34;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-status.very_strong_password 
{
	border: 1px solid #379137;
	background: #48B448;
	color: #CDFFCD;
	text-shadow: 1px 1px 1px #296429;
}

.vpb_system_buttons
{
	 font-family: helvetica, arial, 'lucida grande', sans-serif;
	 text-decoration:none;
	 display:inline-block; 
	 color: #FFFFFF;
	 background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
	 background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
	 -moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
  	 font-size:12px;
	 text-align:center;
	 width: auto;
  	 padding:8px;
  	 padding-left:13px; 
	 padding-right:13px;
	 cursor:pointer;
	 margin-left:0px;
	 margin-right:10px;
	 margin-top:10px;
}

.vpb_system_buttons:hover{
	 border:px solid #FFFFFF;
	 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
	 background-image: -webkit-linear-gradient(top, #646464, #282828);
	 background-image: -moz-linear-gradient(top, #646464, #282828);
	 background-image: -ms-linear-gradient(top, #646464, #282828);
	 background-image: -o-linear-gradient(top, #646464, #282828);
	 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}